.Modal__backdrop {
    position: fixed;
    top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1E1E1E;

 
}

.Modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 540px;
    max-width: 80%;
    overflow: auto;
    height: 80vh;

    background-color: #1E1E1E;
    padding-top: 15px;
        /*Регулировка отступа в верх от скролла*/
        padding-right: 15px;
    // border-radius: 3px;
    // box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    //     0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

   
}
