.Modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
  
    width: 100vw;
    height: 100vh;
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}

.Modal__backdrop.active {
    opacity: 1;
    pointer-events: all;
    background-color: #1E1E1E;
}

.Modal__content {
    position: absolute;
    overflow: auto;
    height: 80vh;
    background-color: #1E1E1E;
    transform: scale(0.5);
    transition: 0.5s all;
}

.Modal__content.active {
    transform: scale(1);
    background-color: #1E1E1E;
}