.forrest__social {
    list-style: none;
    display: flex;
    padding: 0;
    padding-top: 90px;
    padding-bottom: 70px;
    justify-content: center;

    &--item:not(:last-child) {
        margin-right: 30px;
    }
}