.forrest__coffee {
    width: 90vw;
    height: 90vh;
    background-color: #1E1E1E;
    color: #E4E4E4;
    font-family: 'Montserrat';
    

    &--head {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        background-color: inherit;
        color: inherit;
        text-align: left;
        margin: 15px 0;
        font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
    }
}

th {
    text-align: left;
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
}

td {
    text-align: center;
}