.forrest__coffee {
    position: relative;
    background-color: #1E1E1E;
    color: #E4E4E4;
    font-family: 'Montserrat';
    table-layout: fixed;
    border-collapse: collapse;

    overflow-x: hidden;
    overflow-y: auto;
    max-width: 520px;
    max-height: 600px;
    

    &--head {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        background-color: inherit;
        color: inherit;
        text-align: left;
        margin: 15px 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
    }

    &--name {
        text-align: left;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
    }
           &--backBtn {
               position: absolute;
               top: 10%;
    
               width: 10%;
               color: #E4E4E4;
               background-color: #1E1E1E;
               border-style: none;
           }
 
}

th {
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

td {
    text-align: center;
}

thead th:nth-child(1) {
    width: 60%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 20%;
}

th,
td {
    padding: 20px;
}