body {
background-image: url('../../images/background.jpg');

backdrop-filter: blur(5px);
background-size: cover;
background-position: center;
// position: fixed;
left: 0;
right: 0;
top: 0;
bottom: 0;
background-repeat: repeat;
text-decoration: none;
list-style: none;
}

.forrest__container {
    max-width: 450px;
    max-height: 100vh;

    padding: 0 20px;
    font-family: 'Montserrat';
    margin: 0 auto;
}

#root {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}