body {
background-image: url('../../images/background.jpg');

backdrop-filter: blur(5px);
background-size: cover;
background-position: top;
position: fixed;
left: 0;
right: 0;
top: 0;
bottom: -10px;
background-repeat: repeat;
text-decoration: none;
list-style: none;
}

#root {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}