
#root {
    height: 100%;
}

.forrest__container {

    
        backdrop-filter: blur(5px);
        background-size: cover;
    
        background-position: top;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-repeat: repeat;
        
    
    margin: 0 auto;
    text-decoration: none;
    list-style: none;

    max-width: 540px;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

body{
    background-image: url('../../images/background.jpg');
    background-size: cover;
    
        background-position: top;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-repeat: repeat;
        height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    // height: 100%;
    background-color: #1E1E1E;

}
   
* {
    font-family: 'Montserrat', sans-serif;
}

.forrest__warning {
   
    font-size: 12px;
    line-height: 14px;
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
    margin: 0 48px 52px
}